
nav {
  background-color: #333; 
  padding: 1rem; 
  text-align: center; 
}

nav a {
  color: #fff; 
  padding: 1rem; 
  display: block; 
  text-decoration: none; 
}
h1 {
  color: #396e9c;   
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid #333; 
  padding: 10px;
  box-shadow: 5px 5px 10px #6f7364; 
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}